<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

  <p>
    Splurty was built by <a target="_blank" href="https://philipcox.netlify.com">phil</a>. A student at of the coding bootcamp at the university of austin texas
  </p>
  <br />
  <p>
    hopefully this will get me a job.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Philip Cox</h2>
      <br />
      <p>
        <h3 class="text-center">A discription about myself.</h3>
      </p>
    </div>
  </div>
  
  <br class="clear" />
<br />
<br />
<br />
<br />

  